<h2>Reset Your Password</h2>
<p>Hi there,</p>
<p>We received a request to reset the password for your Lumentix account. Click the button below to set a new password:</p>
<p><a class="btn" href="{{{resetUrl}}}">Reset Password</a></p>
<p>This link expires in <strong>1 hour</strong>. If you did not request a password reset, you can safely ignore this email.</p>
